@font-face {
    font-family: "uidash-icons";
    src: url("./uidash-icons.ttf?34e91213687798c6d8b22af867e9f38d") format("truetype");
}

i[class^="uidash-icon-"]:before, i[class*=" uidash-icon-"]:before {
    font-family: uidash-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.uidash-icon-value:before {
    content: "\f101";
}
.uidash-icon-users:before {
    content: "\f102";
}
.uidash-icon-user:before {
    content: "\f103";
}
.uidash-icon-target:before {
    content: "\f104";
}
.uidash-icon-structure:before {
    content: "\f105";
}
.uidash-icon-search:before {
    content: "\f106";
}
.uidash-icon-rename:before {
    content: "\f107";
}
.uidash-icon-register:before {
    content: "\f108";
}
.uidash-icon-radio:before {
    content: "\f109";
}
.uidash-icon-radio-checked:before {
    content: "\f10a";
}
.uidash-icon-properties:before {
    content: "\f10b";
}
.uidash-icon-open:before {
    content: "\f10c";
}
.uidash-icon-move:before {
    content: "\f10d";
}
.uidash-icon-more:before {
    content: "\f10e";
}
.uidash-icon-menu:before {
    content: "\f10f";
}
.uidash-icon-logout:before {
    content: "\f110";
}
.uidash-icon-login:before {
    content: "\f111";
}
.uidash-icon-link:before {
    content: "\f112";
}
.uidash-icon-language:before {
    content: "\f113";
}
.uidash-icon-info:before {
    content: "\f114";
}
.uidash-icon-home:before {
    content: "\f115";
}
.uidash-icon-filter:before {
    content: "\f116";
}
.uidash-icon-edit:before {
    content: "\f117";
}
.uidash-icon-details:before {
    content: "\f118";
}
.uidash-icon-delete:before {
    content: "\f119";
}
.uidash-icon-comment:before {
    content: "\f11a";
}
.uidash-icon-closed:before {
    content: "\f11b";
}
.uidash-icon-checkox:before {
    content: "\f11c";
}
.uidash-icon-checkox-checked:before {
    content: "\f11d";
}
.uidash-icon-check:before {
    content: "\f11e";
}
.uidash-icon-bookmark:before {
    content: "\f11f";
}
.uidash-icon-bookmark-checked:before {
    content: "\f120";
}
.uidash-icon-add:before {
    content: "\f121";
}
.uidash-icon-folder:before {
    content: "\f122";
}
.uidash-icon-folder-open:before {
    content: "\f123";
}
.uidash-icon-radio-none:before {
    content: "\f124";
}
